<header>
  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col col-md-9">
        <div class="row justify-content-start">
          <div class="col-3 col-md-2">
            <div class="menu-wrap">
              <a href="/">
                <div class="menu font-jalnan">
                  HOME
                </div>
              </a>
            </div>
          </div>
          <div class="col-3 col-md-2">
            <div class="menu-wrap">
              <a href="/rank/">
                <div class="menu font-jalnan">
                  RANK
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
</header>